h1 Sitemap
nav
  ul
    li: a[href="admin"] admin
    li = link_to 'Home', 'home#index'
    li: a[href="products"] Products
    li: a[href="categories"] Categories
    li: a[href="provinces"] Provinces
    li: a[href="Orders"] Orders
hr

== render @products
