// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.left {
    float:left;
}
