h1 Products Listing

table
  thead
      th Name
      th Description
      th Category
      th Price
      th Stock quantity
      th colspan="3"

  tbody
    - @products.each do |product|
      tr
        td = product.name
        td = product.description
        - if product.category.present?
          td = product.category.name
        - end
        td = product.price
        td = product.stock_quantity
        td = link_to 'Show', product
        td = link_to 'Edit', edit_product_path(product)
        td = link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Product', new_product_path
